*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    color: black;
    background-color: #1D70A2;
    display: flexbox;
    padding: 1rem 0;
}

.navbar-container {
    margin: 0 auto;
}

.navbar-container ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-item {
    margin: 0.5rem 1rem;
}

.navbar-item a {
    color: white;
    text-decoration: none;
}

/*content*/


.box{
    display: flex;
    justify-content: center;
}
.contcont{
    width:50% ;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}
.title{
    width: 100%;
    height: 10vh;
}
.title >h2{
    text-align: center;
    background-color: lightgrey;
}
.image{
    width: 50%;
    height: 40vh;
}
.content{
    width: 50%;
    height: 40vh;
    background-color: lightgray;
}
.content > p{
    margin: 1vw;
}